body #home{

    border: 1px solid whith;

    height: 100%;  

}

body{ background:

    url(fundosite.png),

    linear-gradient(80deg,#ffffff98,#7e26f873);

    background-attachment: fixed;

}



nav.navbar-transparente{

    padding: 15px 0px;

    background:  rgba(20, 20, 70, 0.6);

}



.navbar-light .navbar-nav .nav-link {

    color:rgb(255, 255, 255);

}



.navbar-light .navbar-nav .nav-link:hover {

color:rgba(99, 219, 137, 0.438);



}

.capa{

text-align: center;

}

.btn-custom{

color:white;

border-radius: 500px;

-webkit-border-radius:500px;

-moz-border-radius:500px;

text-transform: uppercase;

transition: 0.4s, color 04s;

padding:10px 15px;

}



.btn-azul{

background: rgb(22, 145, 161);

}

.btn-azul:hover{

background: #48d2e4;

color:white;

}



h1{

font-weight: 900;

margin-bottom: 50px;

color:rgb(89, 197, 98);



}

h2{

font-size: 3em;

font-weight: 700;

}

h3{

font-size: 2em;

font-weight: 700;

}



#servicos{

background:rgb(255, 255, 255);

padding-top:20px;

padding-bottom:20px;

}



.caixa{

padding-top: 20px;

padding-bottom: 20px;

}

#recursos{



padding-top:20px;

padding-bottom:20px;

}



#recursos h2{


color:rgb(96, 93, 231);

}

#recursos h3{

color:rgb(34, 0, 128);

}



.albuns{

padding:10px 0px;

}

.rotacionar{

transform: rotate(30deg);

padding-left:200px;

}

footer{

background: #000000;

padding:50px 0px 20px 0px;

}



footer .navbar-nav a{

color:white;

font-size: 0.8em;

}

footer .navbar-nav a:hover{

color:white;

font-size: 0.8em;

text-decoration: none;

}



footer ul{

list-style: none;

}



footer ul li{

float:right;

margin:0px 10px;

}

.info{

color: white;

}



@media (min-width: 576px) { 

h1{

    font-size:3em}

}





@media (min-width: 768px) { 

h1{

    font-size:4em}

}



@media (min-width: 992px) { 

h1{

    font-size:5em}

}



@media (min-width: 1200px) {

h1{

    font-size:6em}



}